<section>
  <h1>Register</h1>
  <div class="row">
    <div>
      <label for="firstname">Firstname</label>
      <input type="text" name="firstname" id="firstname" />
    </div>

    <div>
      <label for="lastname">Lastname</label>
      <input type="text" name="lastname" id="lastname" />
    </div>
  </div>

  <div class="row">
    <div>
      <label for="password1">Password</label>
      <input type="password" name="password1" id="password1" />
    </div>

    <div>
      <label for="password2">Password confirmation</label>
      <input type="password" name="password2" id="password2" />
    </div>
  </div>
  <div class="row3">
    <div>
      <label for="email">E-mail</label>
      <input type="email" name="email" id="email" />
    </div>
    <label for="category">Category*:</label>
    <div>
      <select name="category" id="category">
        <option value="">--Please choose an category--</option>
        <option>Horror</option>
        <option>Fantasy</option>
        <option>Thriller</option>
        <option>Romance</option>
      </select>
    </div>
    <!-- <span class="choose">*Please choose at least one preference</span> -->
  </div>

  <div>
    <button class="glow-on-hover" type="button">
      <a href="/166-cz$r&e&g&i&s&t&e&r&56+cegr">Register</a>
    </button>
  </div>
  <span
    >already have an account?<a
      href="/fz47fz&l&o&g&i&n&56egt-$ghr"
      title="Go to login form"
      >Login
    </a></span>
    
</section>
