:host {
  margin-top: -7vh;
  width: 100%;
  background: #000;
  font-family: Inter;
  font-style: normal;
  line-height: normal;
  letter-spacing: 2px;

  section {
    width: 50%;
    margin-inline: auto;
    margin-top: 150px;

    > h1 {
      width: 240px;
      height: 50px;
      font-size: 48px;
      font-weight: 300;
      align-self: center;
      position: relative;
    }
    > .row,div {
      display: flex;
      flex-direction: row;
      align-items: center;
      
      > label {
        // align-self: flex-start;
        font-size: 20px;
        font-weight: 500;
        width: 115px;
      }

      > input,
      > select {
        width: 16vw;
        height: 40px;
        border-radius: 10px;
        margin: 15px;

        > option {
          text-align: center;
        }
      }
      >button{

      }
    }
  }

  h1::after {
    content: "";
    width: 0;
    transition: width 300ms linear;
    position: absolute;
    bottom: -15px;
    left: 0;
    border-bottom: 1px solid #fff;
  }

  h1:hover::after {
    width: 8ch;
  }

  .email {
    margin-bottom: 20px;
  }

  button {
    font-size: 20px;
    font-weight: 500;
    margin: 30px 0;
    letter-spacing: 2px;
  }
  .glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
  }

  .glow-on-hover:before {
    content: "";
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }

  .glow-on-hover:active {
    color: #000;
  }

  .glow-on-hover:active:after {
    background: transparent;
  }

  .glow-on-hover:hover:before {
    opacity: 1;
  }

  .glow-on-hover:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
  }

  @keyframes glowing {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }

  span {
    color: #fff;
    // margin-inline: 50px;
  }
  span>a{
    margin-left: 15px;
    color: #FF0000;
  }
  a {
    color: #fff;
    text-decoration: none;
  }
  .choose{
    // display: block;
  }
}
